.column {
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.about-section {
    padding: 50px;
    line-height: 2rem;
    font-size: 1rem;
    border-radius: 20px;
    box-shadow: 5px 5px 20px #FEE715;
}

.about-section>h1 {
    color: #FEE715;
}

.working-hours-section {
    padding: 50px;
    line-height: 2rem;
    font-size: 1rem;
    border-radius: 20px;
    box-shadow: 5px 5px 20px #FEE715;
}

.working-hours-section>h1{
    color: #FEE715;
}